<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanran.model.mappers.wemedia.SendLogMapper">
  <resultMap id="BaseResultMap" type="com.tanran.model.media.pojos.SendLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="send_message" jdbcType="VARCHAR" property="sendMessage" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, send_message, created_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from send_log
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="com.tanran.model.media.pojos.SendLog">
        select <include refid="Base_Column_List"/> from send_log order by created_time;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from send_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.tanran.model.media.pojos.SendLog">
    insert into send_log (id, send_message, created_time
      )
    values (#{id,jdbcType=INTEGER}, #{sendMessage,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tanran.model.media.pojos.SendLog">
    insert into send_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sendMessage != null">
        send_message,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendMessage != null">
        #{sendMessage,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.tanran.model.media.pojos.SendLog">
    update send_log
    <set>
      <if test="sendMessage != null">
        send_message = #{sendMessage,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tanran.model.media.pojos.SendLog">
    update send_log
    set send_message = #{sendMessage,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>