<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanran.model.mappers.wemedia.WmMaterialMapper">
    <resultMap id="BaseResultMap" type="com.tanran.model.media.pojos.WmMaterial">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="type" jdbcType="BIT" property="type" />
        <result column="is_collection" jdbcType="BIT" property="isCollection" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, url, type, is_collection, created_time
    </sql>
    <select id="findMaterialByUidAndimgUrls" resultType="com.tanran.model.media.pojos.WmMaterial">
        select <include refid="Base_Column_List"/> from id=#{uid} and url in
        <foreach item="item" collection="values" index="index" open="(" separator="," close=")">
           #{item}
        </foreach>
    </select>


    <insert id="insert" parameterType="com.tanran.model.media.pojos.WmMaterial">
        insert into wm_material (id, user_id, url,
                                 type, is_collection, created_time
        )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
                #{type,jdbcType=BIT}, #{isCollection,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}
               )
    </insert>

</mapper>