<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanran.model.mappers.wemedia.WmUserMapper">
  <resultMap id="BaseResultMap" type="com.tanran.model.media.pojos.WmUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ap_user_id" jdbcType="INTEGER" property="apUserId" />
    <result column="ap_author_id" jdbcType="INTEGER" property="apAuthorId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ap_user_id, ap_author_id, name, password, salt, nickname, image, location, phone, 
    status, email, role_type,  login_time, created_time
  </sql>

    <select id="selectByName" resultMap="BaseResultMap"
        parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from wm_user where name=#{name} and role_type=#{roleType}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from wm_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from wm_user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.tanran.model.media.pojos.WmUser">
        insert into wm_user (id, ap_user_id, ap_author_id,
                             name, password, salt,
                             nickname, image, location,
                             phone, status, email,
                             roleType, score, login_time,
                             created_time)
        values (#{id,jdbcType=INTEGER}, #{apUserId,jdbcType=INTEGER}, #{apAuthorId,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
                #{roleType,jdbcType=VARCHAR}, #{score,jdbcType=TINYINT}, #{loginTime,jdbcType=TIMESTAMP},
                #{createdTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.tanran.model.media.pojos.WmUser">
        insert into wm_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="apUserId != null">
                ap_user_id,
            </if>
            <if test="apAuthorId != null">
                ap_author_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="roleType != null">
                roleType,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="apUserId != null">
                #{apUserId,jdbcType=INTEGER},
            </if>
            <if test="apAuthorId != null">
                #{apAuthorId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                #{roleType,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.tanran.model.media.pojos.WmUser">
        update wm_user
        <set>
            <if test="apUserId != null">
                ap_user_id = #{apUserId,jdbcType=INTEGER},
            </if>
            <if test="apAuthorId != null">
                ap_author_id = #{apAuthorId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                roleType = #{type,jdbcType=VARCHAR},
            </if>

            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tanran.model.media.pojos.WmUser">
        update wm_user
        set ap_user_id = #{apUserId,jdbcType=INTEGER},
            ap_author_id = #{apAuthorId,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            salt = #{salt,jdbcType=VARCHAR},
            nickname = #{nickname,jdbcType=VARCHAR},
            image = #{image,jdbcType=VARCHAR},
            location = #{location,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            status = #{status,jdbcType=TINYINT},
            email = #{email,jdbcType=VARCHAR},
            roleType = #{roleType,jdbcType=VARCHAR},
            score = #{score,jdbcType=TINYINT},
            login_time = #{loginTime,jdbcType=TIMESTAMP},
            created_time = #{createdTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>