<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanran.model.mappers.app.ApUserFanMapper">
    <resultMap id="BaseResultMap" type="com.tanran.model.user.pojos.ApUserFan">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="fans_id" jdbcType="INTEGER" property="fansId" />
        <result column="fans_name" jdbcType="VARCHAR" property="fansName" />
        <result column="level" jdbcType="BIT" property="level" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="is_display" jdbcType="BIT" property="isDisplay" />
        <result column="is_shield_letter" jdbcType="BIT" property="isShieldLetter" />
        <result column="is_shield_comment" jdbcType="BIT" property="isShieldComment" />
        <result column="burst" jdbcType="VARCHAR" property="burst" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, fans_id, fans_name, level, created_time, is_display, is_shield_letter,
    is_shield_comment, burst
    </sql>
    <insert id="insertUserFan" parameterType="com.tanran.model.user.pojos.ApUserFan">
        insert into ap_user_fan (id, user_id, fans_id,
                                 fans_name, level, created_time,
                                 is_display, is_shield_letter, is_shield_comment,burst
        )
        values (#{id}, #{userId}, #{fansId},
                #{fansName}, #{level}, #{createdTime},
                #{isDisplay}, #{isShieldLetter}, #{isShieldComment},#{burst}
               )
    </insert>
    <delete id="deleteFan">
        delete from ap_user_follow where follow_id=#{followId} and user_id=#{userId}
    </delete>
    <select id="slectUserFanByFanId" resultType="com.tanran.model.user.pojos.ApUserFan">
        select <include refid="Base_Column_List"/>
        from ap_user_fan
        where user_id=#{userId} and fans_id=#{fansId}
    </select>
    <select id="selectUserFanById" resultType="com.tanran.model.user.pojos.ApUserFan"
            parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/> from ap_user_fan where user_id=#{userId}
    </select>


</mapper>