<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanran.model.mappers.app.ArticleContentConfigMapper">
    <resultMap id="BaseResultMap" type="com.tanran.model.article.pojos.ApArticleConfig" >
        <id column="id" property="id"/>
        <result column="article_id" property="articleId" />
        <result column="is_comment" property="isComment"/>
        <result column="is_forward" property="isForward" />
        <result column="is_down" property="isDown"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, article_id, is_comment, is_forward, is_down, is_delete
    </sql>
    <!-- 通过文章ID查询文章配置 -->
    <select id="selectArticleContentById" resultMap="BaseResultMap" parameterType="int" >
        select <include refid="Base_Column_List" /> from ap_article_config where article_id = #{articleId}
    </select>

    <insert id="insertSelective" parameterType="com.tanran.model.article.pojos.ApArticleConfig">
        insert into ap_article_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="isComment != null">
                is_comment,
            </if>
            <if test="isForward != null">
                is_forward,
            </if>
            <if test="isDown != null">
                is_down,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="isComment != null">
                #{isComment,jdbcType=BIT},
            </if>
            <if test="isForward != null">
                #{isForward,jdbcType=BIT},
            </if>
            <if test="isDown != null">
                #{isDown,jdbcType=BIT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
</mapper>